.Title {
  text-align: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  justify-items: center;
  margin: 50px;
  display:flex;
  flex-flow: column nowrap; 
  flex-direction: row;

 flex-flow: row wrap;
 justify-content: flex-start;
}

.card2 {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

