.Title {
  text-align: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  justify-items: center;
  margin: 20px;
  display:flex;
  flex-flow: column nowrap; 
  flex-direction: row;
  
  flex-flow: row wrap;
  justify-content: flex-start;
}

.Sign {
  display: flex;
  text-align: right;
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  padding-bottom: 36px;
}

.card2 {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.container {
  padding: 16px;
}


img {
  display: inline-block;
  max-height: 300px;
}

.movie-title {
  clear: both;
  display: inline-block; 
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 200;
  /* border: solid; */
  margin-right: 100px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
   background-color: white;
   width: 30em;
   height: 35em;
   position: relative;
   border-radius: 1em;
   align-items: center;
   box-shadow:  0 0.188em 1.550em rgb(100, 156, 156 );
}
