.Title {
  text-align: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  justify-items: center;
  margin: 20px;
  display:flex;
  flex-flow: column nowrap; 
  flex-direction: row;
  
  flex-flow: row wrap;
  justify-content: flex-start;
}

.card2 {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.DIR {

}

img {
  display: inline-block;
  max-height: 300px;

}

.movie-title {
  clear: both;
  display: inline-block; 
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 200;
  /* border: solid; */
  margin-right: 100px;
}